.r
{
    background-color: brown;
    size-adjust: 20px;
    font-size: 50px;
    border-color: aquamarine;
    border: 0cqmax;
    font-style: italic;
}
.j
{
    background-color: chartreuse;
    size: 40px;
    font-size: 20px;
    border-color: blueviolet;
    font-style: italic;
    border: 0cqmax;
}
.g
{
    background-color: blue;
    size: 60px;
    font-style: italic;
    font-size: 20px;
    border-color: aquamarine;
    border: 0cqb;

}